<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4">Welcome to Move and Groove!</h1>
        <p>Physical activity or exercise can improve your health and reduce the risk of developing several diseases like
          type 2 diabetes, cancer and cardiovascular disease. Physical activity and exercise can have immediate and
          long-term health benefits. Most importantly, regular activity can improve your quality of life.</p>

        <% if !user_signed_in? %>
          <%= link_to('Login', new_user_session_path, role: 'button', class: 'btn btn-success btn-lg') %>
          <%= link_to('Register', new_user_registration_path, role: 'button', class: 'btn btn-primary btn-lg') %>
        <% end %>
      </div>
    </div>
  </div>
</div>